[submodule "AFL"]
	path = AFL
	url = https://github.com/google/AFL.git
[submodule "qsym"]
	path = qsym
	url = https://github.com/sslab-gatech/qsym.git
[submodule "svf"]
	path = svf
	url = https://github.com/evanmak/svf-muse.git

