[submodule "AFL"]
	path = AFL
	url = https://github.com/google/AFL.git
[submodule "qsym"]
	path = qsym
	url = https://github.com/sslab-gatech/qsym.git
[submodule "svf-muse"]
	path = svf-muse
	url = https://github.com/evanmak/svf-muse.git

